<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place</title>
</head>
<body bgcolor="Gray">
<center><h1 style="color:black;"><i>Check_Address</i></h1></center>
<center>
    <form method="post">

        <div>
            District1: <input type="text" name="d1" required><br><br>
            District2: <input type="text" name="d2" required><br><br>
            Taluka1: <input type="text" name="t1" required><br><br>
            Taluka2: <input type="text" name="t2" required><br><br>

            <input type="submit"> <input type="reset">


        </div>

    </form>

</center>

</body>
</html>
